<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid"><div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="/employee">Employee</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="/dependent">Dependents</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="/payCheck">Pay Checks</a>
          </li>
          <li class="nav-item">
            <a (click)="openConfirmationDialog()" class="btn btn-sm btn-primary me-1">Load Mock Data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <app-alert></app-alert>
<router-outlet></router-outlet>